body { margin: 0; padding: 0; }

.container{
    margin: 0;
    height: 20px;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
}

.header{
    margin: 0;
    background-color: #375F93;
    color: #fff;
}

.header{
    display: flex;
    flex-direction: row;
}

.header > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header > div:nth-child(2){
    flex: 1;
    align-content: flex-end;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
}

.header-profile{
    display: flex;
    flex-direction: row;
    background-color: #28457b;
    padding: 20px;
}

.header-profile > div:nth-child(2){
    padding: 10px;
}

.info-container{
    padding: 10px;
}

.info-container .details{
    padding: 0 10px;
}

.details p{
    margin: 0;
}

.logo-mark img{
    width: 120px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
    box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
}

#mapid { 
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
}

#account{
    padding: 5px;
    margin-left: 10px;
}

button{
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
}

.logo{
    height: 40px;
}

.row {
    display: flex;
    justify-content: row;
}

.row > div{
    margin: 0 10px;
}

.txtDesc{
    text-align: center;
}













#institution_name{
    font-weight: bold;
}